[submodule "backend"]
	path = backend
	url = https://github.com/isatyamshivam/Visual-Product-Matcher-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/isatyamshivam/Visual-Product-Matcher-Frontend
